$white-color:#fff;
$black-color:#000;
$light-black-color:#000000cc;
$second-black-color:#00000066;
$login-input-bg-color:#272A39;
$grey-border-color:#6E7399;
$grey-opacity-border-color:#6e73995b;
$third-black-color:#ffffff1a;
$grey-checkbox-radio:#93939C;
$gradient-light:#458cf84d;
$gradient-dark:#004dff4d;
$light-lienear-gradient:#0099ff96;
$light-lienear-gradient:#0099ff96;
$light-gradient-border:#263148;
$border-blue:#344675;
$blue-btn-color:#004dff;
$blue-bg-color:#0099ff;
$blue-border-color:#0074fd;
$light-blue-border-color:#3ea1ec ;
$blue-icon-color:#1d8cf8;
$bg-color:#27293D;
$bg-second-color:#2a2c44;
$bg-third-color:#2e2f48;
$text-color:#C7C2BF;
$hover-bg-color:#999999;
$second-text-color:#ffffffcc;
$third-white-color:#dedede;
$border-color:#004DFF4D;
$input-bg-color:#343651;
$orange-color:#FF7D00;
$gradient-light-yellow:#ff7d00f0;
$gradient-dark-yellow:#b05600;
$yellow-color:#ffb400;
$input-border-color:#2b3553;
$pink-color:#e14eca;
$text-bg-color:#145F39;
$text-profile-color:#09D66E;
$sidebar-light-gradient-color:#0f285080;
$sidebar-dark-gradient-color:#01040b80;
$color:#004dff4d;
$dark-blue-color: #4482FC;
$text-blue-color:#458CF8;
$light-blue-color: #454768;